body {
    background-image: url(../IMAGES/fd.jpg);
    background-size: contain;   
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

#apple {
    width: 20px;
}

#date-heure {
    margin-left: 90%;
    height: 10px;
    font-size: 14px;
    font-weight: 600;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#rectangle {
    width: 90%; /* La largeur est dynamique pour s'ajuster à la taille de l'écran */
    max-width: 900px; /* Pas plus grand que 900px */
    min-height: 350px; /* Taille minimale pour ne pas être trop petite */
    background-color: white;
    border-radius: 3%;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Un peu d'ombre pour le style */
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rond {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.rouge {
    background-color: red;
}

.orange {
    background-color: orange;
}

.vert {
    background-color: green;
}

#name {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    color: #333;
}

#name, .rond {
    margin: 0;
    padding: 0;
}

.separator {
    width: auto;
    height: 2px;
    background-color: black;
    margin-top: 3px;
}


p {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    color: #444;
}

#nom {
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
    color: #222;
}

#info {
    font-size: 20px;
    color: #666;
    margin-top: 0;
    text-align: center;
}

.pages {
    text-align: center;
    margin-top: 50px;
}

.pages a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
    transition: color 0.3s ease;
}

.pages a:hover {
    color: #0056b3;
}
